:root {
    /* ### Primary */

    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);

    /* ### Neutral */

    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
}


body {
    width: 100%;
    height: 100vh;
    background-color: var(--VeryLightGray);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-wrapper {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50%;
    font-family: "Lexend Deca";
}

.card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icon {
    width: 4rem;
}

.card-title {
    color: var(--VeryLightGray);
    font-family: "Big Shoulders Display";
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

.card-description {
    color: var(--TransparentWhite);
    font-size: 15px;
    line-height: 1.8;
}

.card-button {
    background-color: var(--VeryLightGray);
    height: 2.5rem;
    border-radius: 2rem;
    width: 80%;
    border: none;
}

.c-sedans {
    background-color: var(--BrightOrange);
    border-radius: .5rem 0 0 .5rem;
}

.c-suvs {
    background-color: var(--DarkCyan);
}

.c-luxury {
    background-color: var(--VeryDarkCyan);
    border-radius: 0 .5rem .5rem 0;
}

.orange-text {
    color: var(--BrightOrange);
}

.cyan-text {
    color: var(--DarkCyan);
}

.very-dark-cyan-text {
    color: var(--VeryDarkCyan);
}

.attribution {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 1.5rem;
    margin: auto;
    font-family: "Lexend Deca";
    color: var(--VeryDarkCyan);
}

@media only screen and (max-width:375px) {
    body {
        height: 100%;
    }

    .card-wrapper {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 85%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .c-sedans {
        border-radius: .5rem .5rem 0 0;
    }

    .c-luxury {
        border-radius: 0 0 .5rem .5rem;
    }

}